body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1000px;
    /*background-color: #1b1b1b;
    color: #ffffff;*/
    background-color: #fffffff4;
}

.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.apresentation p {
    margin: 0;
}

.name-container {
    margin-bottom: 20px;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

.apresentation-cont {
    margin-top: 30px;
}

.text-apre {
    font-size: 18px;
}

.button-container {
    margin-top: 45px;
}

.projects-button {
    outline: solid 0px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 40px;
    transition: color 0.20s, background 0.20s;
}

.projects-button:hover {
    background: none;
    outline-width: 1px;
    color: rgb(0, 0, 0);
}

.resume-button {
    border: none;
    outline: solid 1px;
    color: rgb(0, 0, 0);
    background: none;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    transition: background-color 0.20s, color 0.20s;
}

.resume-button:hover {
    background-color: #000;
    color: #fff;
}


/*About Section*/

.about-section {
    margin-top: 250px;
    padding-top: 50px;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.title-about {
    font-size: 35px;
    text-align: center;
}

.about-flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 27px;
}

.about-paragraphs p {
    margin-top: 0;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    /*box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.104);*/
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-me {
    display: flex;
}

.find-me img {
    width: 30px;
}