body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1000px;
}

.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.apresentation p {
    margin: 0;
}

.name-container {
    margin-bottom: 20px;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

.apresentation-cont {
    margin-top: 30px;
}

.text-apre {
    font-size: 18px;
}

.button-container {
    margin-top: 45px;
}

.projects-button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 40px;
}

.resume-button {
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    background: none;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
}


/*About Section*/

.about-section {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.title-about {
    font-size: 35px;
    text-align: center;
}

.about-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 27px;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.104);
}